@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To continue, please create a <a asp-controller="Users" asp-action="Create" >new KRBanking account</a> or <a asp-controller="Users" asp-action="Login" >log in</a>.</p>
</div>